/* Default Variables */
body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14;
  background: #ecf0f1; }

a {
  color: #00B7FF;
  text-decoration: none; }
